extends layout

block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    div
      p(id='top') 这是一个狼多肉少的年代!
      div(id='center',class='container' )
        form(method='post',action='/namelist')
          img(src='/image/htl.png',id='htl')
          input(type='text',name='all',autofocus='')
          img(src='/image/xyy.png')
          input(type='text',name='target')
          br
          input(type='submit',value=' 继 续 »',id='continue',class='btn btn-lg btn-primary btn-block')
    div(id='author')
        p lyqEyes 呈现